.btn {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  margin: 0;
}
.btn--delete {
  color: red;
}

.btn--read {
  color: blue;
}
.btn--disabled {
  color: red;
}

.btn__comment {
  background-color: #e2e8ed;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn__submit {
  display: block;
  margin: 10px 30px 15px 0px;
}

.btn__close {
  font-size: 30px;
  color: red;
}
