.create-comment__textarea {
  width: 338px;
  height: 125px;
}
.create-comment-buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .create-comment__textarea {
    width: 487px;
    height: 175px;
  }
  .create-comment-buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
}
