.nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}
.nav__li {
  padding: 10px;
  text-transform: capitalize;
  background-color: #bdf1fa;
  cursor: pointer;
  border-bottom: 2px solid white;
}
.nav__title {
  cursor: pointer;
}
.topics-ul {
  padding: 15px;
  margin-bottom: 10px;
}
.topics-container {
  height: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  transition: all 0.3s linear;
  border-radius: 7px;
}
.sort-container {
  height: 0px;
  width: 90%;
  background-color: white;
  overflow: hidden;
  transition: all 0.3s linear;
  border-radius: 7px;
}
.sort-ul {
  padding: 15px;
  margin-bottom: 10px;
}
