.page {
  background-color: rgb(189, 241, 250);
  margin: 0 2rem;
  max-width: 95vw;
  padding: 20px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .page {
    margin: 0 3.5rem;
  }
}
