.page {
  background-color: #fff;
  margin: 0 1.5%;

  padding: 10px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .page {
    margin: 0 5%;
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  .page {
    margin: 0 10%;
    padding: 20px;
  }
}
