.page {
  background-color: #fff;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .page {
    margin: 0 5%;
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  .page {
    margin: 0 10%;
    padding: 20px;
  }
}
